.button {
  position: relative;

  display: block;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 23px;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: var(--blue-light);

  background-color: var(--yellow);
  border-radius: 10px;
}

@media (min-width: $tablet-width) {
  .button {
    padding-top: 26px;
    padding-bottom: 30px;
    padding-left: 32px;

    font-size: 24px;
    line-height: 24px;

    border-radius: 20px;
  }
}

.button::after {
  content: "";
  position: absolute;
  top: 25px;
  right: 23px;

  display: block;
  width: 11px;
  height: 12px;

  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 11px solid var(--blue-dark);
}

.button:hover {
  background-color: var(--yellow-dark);
}

.button:active {
  color: var(--blue-light-alpha3);
}

.button:active::after {
  border-left-color: var(--blue-light-alpha3);
}

.button .button--transparent {
  border: 3px solid var(--blue-dark);
}
