.country-selection {
  position: relative;
}

.country-selection__body {
  display: flex;
  flex-wrap: wrap;
  width: 220px;
  padding: 1px;

  background-color: var(--grey-two);

  gap: 1px;
}

@media (min-width: $tablet-width) {
  .country-selection__body {
    width: 385px;

    background-color: transparent;
  }
}

@media (min-width: $desktop-width) {
  .country-selection__body {
    width: auto;
    padding: 0;

    gap: 48px;
  }
}

.country-selection__row {
  display: flex;

  gap: 1px;
}

@media (min-width: $tablet-width) {
  .country-selection__row {
    gap: 0;
  }
}

@media (min-width: $tablet-width) {
  .country-selection__row:nth-child(2) {
    margin-top: 4px;
  }
}

@media (min-width: $desktop-width) {
  .country-selection__row:nth-child(2) {
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .country-selection__row:nth-child(4) {
    margin-top: 37px;
  }
}

.country-selection__list {
  display: none;
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .country-selection__list {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .country-selection__list {
    display: block;
    margin-top: 32px;
    margin-left: -2px;
  }
}

.country-selection__list--current {
  position: absolute;
  top: 218px;
  left: 0;

  display: block;
}

@media (min-width: $tablet-width) {
  .country-selection__list--current {
    top: 11px;
    right: 15px;
    left: unset;
  }
}

@media (min-width: $desktop-width) {
  .country-selection__list--current {
    position: static;
  }
}

.country-selection__item {
  cursor: pointer;
}

.country-selection__item:hover {
  color: var(--blue-light);
}

.country-selection__link {
  color: inherit;
}

.country-selection__block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 39.78px;

  background-color: var(--white);
  cursor: pointer;
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .country-selection__block:nth-child(5n) {
    width: 42px;
  }
}

@media (min-width: $tablet-width) {
  .country-selection__block {
    justify-content: start;
    width: 77px;
    height: 81px;

    background-color: transparent;
    opacity: 0.3;
  }
}

@media (min-width: $desktop-width) {
  .country-selection__block {
    opacity: 1;
  }
}

@media (min-width: $tablet-width) {
  .country-selection__block--current {
    opacity: 1;
  }
}

@media (min-width: $desktop-width) {
  .country-selection__block {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 250px;
    height: auto;

    background-color: transparent;
    cursor: auto;
  }
}

.country-selection__title {
  margin: 0;

  color: var(--blue-light);
}

@media (min-width: $tablet-width) {
  .country-selection__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.country-selection__block:hover {
  opacity: 0.6;
}

@media (min-width: $desktop-width) {
  .country-selection__block:hover {
    opacity: 1;
  }
}

.country-selection__block--current:hover {
  opacity: 1;
}

.country-selection__block:active {
  opacity: 1;
}
