.country-selection {
  position: relative;
}

.country-selection__body {
  display: flex;
  flex-wrap: wrap;
  width: 220px;
  padding: 1px;

  background-color: var(--grey-two);

  gap: 1px;
}

@media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
  .country-selection__body {
    width: 385px;

    background-color: transparent;
  }
}

@media (min-width: $desktop-width) {
  .country-selection__body {
    width: auto;
    padding: 0;

    background-color: transparent;

    gap: 50px;
  }
}

.country-selection__row {
  display: flex;

  gap: 1px;
}

@media (min-width: $tablet-width) {
  .country-selection__row {
    gap: 0;
  }
}

@media (min-width: $tablet-width) and (max-width: 1440px) {
  .country-selection__row:nth-child(2) {
    margin-top: 4px;
  }
}

.country-selection__list {
  display: none;
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .country-selection__list {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $tablet-width) and (max-width: 1440px) {
  .country-selection__list--current {
    position: absolute;
    top: 9px;
    right: 16px;

    display: block;
  }
}

@media (min-width: $desktop-width) {
  .country-selection__list {
    display: block;
    margin-top: 30px;
  }
}

.country-selection__block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 39.78px;

  background-color: var(--white);
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 768px) {
  .country-selection__block:nth-child(5n) {
    width: 42px;
  }
}

@media (min-width: $tablet-width) and (max-width: 1440px) {
  .country-selection__block {
    width: 77px;
    height: 81px;

    background-color: transparent;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) and (max-width: 1440px) {
  .country-selection__block--current {
    opacity: 1;
  }
}

@media (min-width: $desktop-width) {
  .country-selection__block {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 250px;
    height: auto;

    background-color: transparent;
    cursor: auto;
  }
}

.country-selection__title {
  margin: 0;

  color: var(--blue-light);
}

@media (min-width: $tablet-width) {
  .country-selection__title {
    font-size: 60px;
    line-height: 60px;
  }
}
