.directions-page {
  color: var(--blue-light);
}

@media (min-width: $tablet-width) {
  .directions-page__inner {
    padding-right: 35px;
    padding-left: 35px;
  }
}

@media (min-width: $desktop-width) {
  .directions-page__inner {
    padding: 0;
  }
}

.directions-page__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .directions-page__title {
    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: $desktop-width) {
  .directions-page__title--general {
    margin-left: 72px;
  }
}

.directions-page__form-user {
  padding-top: 21px;
}

.directions-page__user-plans {
  margin-top: 32px;
}

@media (min-width: $tablet-width) {
  .directions-page__user-plans {
    margin-top: 60px;
  }
}

@media (min-width: $desktop-width) {
  .directions-page__user-plans {
    margin-top: 66px;
  }
}

.directions-page__form {
  margin-top: -30px;
  margin-bottom: -29px;
  padding-top: 7px;
  padding-bottom: 72px;

  background-color: var(--grey-blue-two);
  border-radius: 30px 30px 0 0;
}

@media (min-width: $tablet-width) {
  .directions-page__form {
    margin-top: -20px;
    padding-top: 21px;
    padding-bottom: 99px;
  }
}
