.header {
  min-height: 65px;
  padding-top: 19px;
  padding-bottom: 31px;

  background-color: var(--blue-dark);
}

@media (min-width: $tablet-width) {
  .header {
    min-height: 122px;
    padding-top: 40px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    min-height: 99px;
    padding-top: 47px;
    padding-bottom: 0;
  }
}

.header--main-page {
  background-color: var(--blue);
}

@media (min-width: $tablet-width) {
  .header--main-page {
    background-color: var(--blue-two);
  }
}

.header--no-js {
  background-color: var(--white);
}

@media (min-width: $desktop-width) {
  .header--no-js {
    background-color: var(--blue-two);
  }
}

.header--js {
  padding-top: 26px;

  background-color: var(--white);
}

@media (min-width: $tablet-width) {
  .header--js {
    padding-top: 40px;
  }
}

@media (min-width: $desktop-width) {
  .header__logo {
    margin-top: 2px;
  }
}

.header__navigation {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 24px;
  padding-left: 26px;

  transition: 0.6s;
}

@media (min-width: $tablet-width) {
  .header__navigation {
    padding-right: 39px;
    padding-left: 41px;
  }
}

@media (min-width: $desktop-width) {
  .header__navigation {
    padding-right: 57px;
    padding-left: 59px;
  }
}

.header__navigation--no-js {
  flex-direction: column;
}

@media (min-width: $desktop-width) {
  .header__navigation--no-js {
    flex-direction: row;
  }
}

.header__navigation--scroll {
  position: fixed;
  top: 0;
  z-index: 10;

  width: 100%;
  padding-top: 26px;
  padding-bottom: 31px;

  background-color: var(--white);
}

@media (min-width: $tablet-width) {
  .header__navigation--scroll {
    padding-top: 40px;
    padding-bottom: 42px;
  }
}

@media (min-width: $desktop-width) {
  .header__navigation--scroll {
    padding-top: 21px;
    padding-bottom: 19px;
  }
}

.header__toggle {
  position: relative;

  width: 25px;
  height: 11px;
  margin-top: 4px;
  margin-right: 2px;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .header__toggle {
    align-self: center;
    margin-left: 27px;
  }
}

.header__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  width: 25px;
  height: 3px;

  background-color: var(--white);

  transition: 0.3s;
}

.header__toggle::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;

  display: block;
  width: 25px;
  height: 3px;

  background-color: var(--white);

  transition: 0.3s;
}

@media (min-width: $desktop-width) {
  .header__toggle {
    display: none;
  }
}

// класс который удаляется при инициализации js
.header__toggle--no-js {
  display: none;
}

// класс который добавляется по клику
.header__toggle--js {
  z-index: 5;

  transition: 0.3s;
}

.header__toggle--js::before,
.header__toggle--js::after {
  top: 2px;
  right: -2px;

  background-color: var(--grey);
  transform: rotate(-45deg);

  transition: 0.3s;
}

.header__toggle--js::after {
  transform: rotate(45deg);
}

// класс добавляемый при скролле
.header__toggle--scroll::before,
.header__toggle--scroll::after {
  background-color: var(--grey);
}

.header__navigation-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;

  display: none;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - 30px);
  margin-top: 30px;
  padding-top: 59px;
  overflow-y: auto;

  background-color: var(--white);
}

@media (min-width: $tablet-width) {
  .header__navigation-wrapper {
    align-items: start;
    margin-top: 47px;
    padding-top: 93px;
    padding-right: 58px;
    padding-left: 97px;
  }
}

@media (min-width: $desktop-width) {
  .header__navigation-wrapper {
    position: relative;
    top: unset;

    display: block;
    width: auto;
    height: auto;
    margin-top: 0;
    margin-right: 0;
    margin-left: 146px;
    padding: 0;
    overflow: unset;

    background-color: transparent;
  }
}

.header__navigation-wrapper--no-js {
  position: static;

  display: block;
  overflow: unset;
}

.header__navigation-wrapper--js {
  display: flex;
}

@media (max-width: $mobile-width-only) {
  .header__user-navigation {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .header__user-navigation {
    margin-top: 2px;
    margin-right: 3px;
    margin-left: auto;
  }
}

@media (min-width: $tablet-width) {
  .header__user-navigation-list {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .header__user-navigation-list {
    display: flex;
  }
}

.header__address-navigation {
  margin-top: 54px;
}

@media (min-width: $desktop-width) {
  .header__address-navigation {
    display: none;
  }
}

.header__address-navigation .address-navigation__list {
  margin-top: 53px;
  margin-left: 0;
}

@media (min-width: $tablet-width) {
  .header__address-navigation .address-navigation__list {
    margin-top: 80px;
  }
}

.header__social-list {
  justify-content: center;
  margin-top: 42px;
  margin-bottom: 42px;
}

@media (min-width: $tablet-width) {
  .header__social-list {
    margin-top: 128px;
    margin-bottom: 91px;
    margin-left: 26px;
  }
}

@media (min-width: $desktop-width) {
  .header__social-list {
    display: none;
  }
}

.user-navigation--promo {
  position: absolute;
  top: 366px;

  display: flex;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .user-navigation--promo {
    display: none;
  }
}
