.head-main {
  padding-top: 25px;
  padding-bottom: 17px;

  background-color: var(--blue-dark);
  border-radius: 0 0 20px 20px;
}

@media (min-width: $tablet-width) {
  .head-main {
    padding-top: 95px;
    padding-bottom: 73px;

    border-radius: 0 0 60px 60px;
  }
}

@media (min-width: $desktop-width) {
  .head-main {
    padding-top: 118px;
  }
}

.head-main__inner {
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .head-main__inner {
    padding: 0 34px;
  }
}

@media (min-width: $desktop-width) {
  .head-main__inner {
    padding: 0 66px;
  }
}

.head-main__title {
  position: relative;

  width: max-content;
  margin: 0;

  font-size: 36px;
  line-height: 36px;
  color: var(--white);
  word-break: break-word;
}

@media (min-width: $tablet-width) {
  .head-main__title {
    max-width: 60%;

    font-size: 60px;
    line-height: 60px;
  }
}

.head-main__title::before {
  content: "";
  position: absolute;
  bottom: -20px;

  display: block;
  width: 100%;
  height: 5px;

  background: var(--orange-dark);
  border-radius: 4px;
}

@media (min-width: $tablet-width) {
  .head-main__title::before {
    bottom: -77px;

    height: 8px;
  }
}

.head-main__link {
  position: relative;

  display: none;
  max-width: 210px;

  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: var(--white);
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .head-main__link {
    display: block;
    margin-top: 26px;
    padding-right: 60px;
  }
}

.head-main__link::before {
  content: "";
  position: absolute;
  top: 1px;
  right: 0;

  display: block;
  width: 32px;
  height: 16px;

  background-image: url("../img/img-decor/otherwise/icon-button-back.svg");
  background-repeat: no-repeat;
}

.head-main__link:hover {
  opacity: 0.6;
}

.head-main__link:active {
  opacity: 0.3;
}
