.head-main {
  padding-top: 40px;
  padding-bottom: 40px;

  background-color: var(--blue-dark);
}

.head-main__inner {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .head-main__inner {
    padding: 0 34px;
  }
}

@media (min-width: 1440px) {
  .head-main__inner {
    padding: 0 66px;
  }
}

.head-main__title {
  margin: 0;

  font-size: 36px;
  line-height: 36px;
  color: var(--white);
}

@media (min-width: 768px) {
  .head-main__title {
    font-size: 60px;
    line-height: 20px;
  }
}

.head-main__link {
  display: none;

  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: var(--white);
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .head-main__link {
    display: block;
  }
}
