.level {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 45px;
  height: 45px;
}

@media (min-width: $tablet-width) {
  .level {
    width: 65px;
    height: 65px;
  }
}

.level__progress-ring {
  position: absolute;

  width: 100%;
  height: 100%;

  transform: rotate(-90deg);
}

.level__progress-ring--dark {
  background-color: var(--black-alpha6);
  border-radius: 50%;
}

.level__progress-circle {
  fill: transparent;
  stroke: var(--orange-dark);
  stroke-width: 3px;
}

.level__value {
  position: relative;

  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: var(--blue-light);
}

.level__value::before {
  content: none;
  position: absolute;
  bottom: 1px;
  left: -4px;

  display: block;
  width: 31px;
  height: 1px;

  background-color: var(--black);
  opacity: 0.1;
}

@media (min-width: $tablet-width) {
  .level__value::before {
    content: "";
  }
}

@media (min-width: $desktop-width) {
  .level__value::before {
    left: -4px;

    width: 31px;
  }
}

.level__title {
  display: none;

  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: var(--black);

  opacity: 0.4;
}

@media (min-width: $tablet-width) {
  .level__title {
    display: block;
  }
}

.level--user-card {
  width: 100px;
  height: 100px;

  grid-column: 1/2;
  grid-row: 1/2;
}

@media (min-width: $tablet-width) {
  .level--user-card {
    width: 94px;
    height: 94px;
  }
}

@media (min-width: $desktop-width) {
  .level--user-card {
    width: 95px;
    height: 95px;
    margin-top: -138px;
    margin-left: 73px;

    grid-column: 3/4;
    grid-row: 1/2;
  }
}

.level--user-card .level__value {
  margin-top: 14px;
  padding-left: 28px;

  font-size: 38px;
  line-height: 38px;
}

@media (min-width: $desktop-width) {
  .level--user-card .level__value {
    color: var(--white);
  }
}

.level--user-card .level__value::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 25px;

  display: block;
  width: 50px;
  height: 1px;

  background-color: var(--black);
  opacity: 0.1;
}

@media (min-width: $desktop-width) {
  .level--user-card .level__value::before {
    height: 2px;

    background-color: var(--white);
    opacity: 0.3;
  }
}

.level--user-card .level__title {
  display: block;
  margin-top: 9px;
  padding-left: 33px;

  font-size: 18px;
  line-height: 18px;
}

@media (min-width: $desktop-width) {
  .level--user-card .level__title {
    color: var(--white);

    opacity: 1;
  }
}

// для карточки на главной страницы
.level--companion-index .level__value {
  margin-top: 13px;

  color: var(--white);
}

.level--companion-index .level__value::before {
  content: "";
  left: 24%;

  background-color: var(--white);
}


.level--companion-index .level__title {
  display: block;

  color: var(--white);
}

// для карточки на странице попутчиков
.level--companion-card .level__value {
  margin-top: 11px;
  margin-left: 9px;
}

@media (min-width: $tablet-width) {
  .level--companion-card .level__value {
    margin-top: 15px;
    margin-left: 18px;
  }
}

@media (min-width: $tablet-width) {
  .level--companion-card .level__title {
    margin-top: 3px;
    margin-left: 18px;
  }
}
