.logo {
  position: relative;

  display: block;

  line-height: 0;

  cursor: pointer;

  fill: var(--white);
}

@media (min-width: $tablet-width) {
  .logo {
    padding-top: 17px;
    padding-left: 57px;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    padding-top: 12px;
    padding-left: 72px;
  }
}

@media (min-width: $tablet-width) {
  .logo::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    z-index: inherit;

    display: block;
    width: 155px;
    height: 42px;

    background-image: url("../img/img-decor/background/logo-back.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media (min-width: $desktop-width) {
  .logo::before {
    top: -2px;
    left: 1px;

    width: 187px;
    height: 50px;
  }
}

.logo__image {
  position: relative;
}

@media (min-width: $tablet-width) {
  .logo__image {
    width: 107px;
    height: 17px;
  }
}

@media (min-width: $desktop-width) {
  .logo__image {
    width: 129px;
    height: 20px;
  }
}

.logo__image--no-js {
  fill: var(--blue-dark);
}

.logo__image--js {
  fill: var(--blue-dark);
}

.logo__image--scroll {
  z-index: 5;

  fill: var(--blue-dark);
}

.logo--footer {
  fill: var(--blue-dark);
}
