.main-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-navigation__item {
  text-align: center;
}

.main-navigation__link {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: var(--blue-dark);
  text-transform: uppercase;
}
