.social-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
  column-gap: 27px;
}

@media (min-width: $tablet-width) {
  .social-list {
    column-gap: 35px;
  }
}

@media (min-width: $tablet-width) {
  .social-list__item--facebook svg {
    width: 14px;
    height: 28px;
  }
}

@media (min-width: $tablet-width) {
  .social-list__item--vkontakte svg {
    width: 31px;
    height: 16px;
  }
}

@media (min-width: $tablet-width) {
  .social-list__item--instagram svg {
    width: 24px;
    height: 24px;
  }
}

.social-list__img {
  fill: var(--blue-dark);
}

.social-list--footer {
  flex-wrap: wrap;
  justify-content: center;

  column-gap: 0;

  row-gap: 6px;
}

@media (min-width: $tablet-width) {
  .social-list--footer {
    justify-content: start;
  }
}

.social-list--footer .social-list__item {
  width: 45px;
  height: 44px;

  background-color: var(--yellow);
  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .social-list--footer .social-list__item {
    width: 62px;
    height: 62px;
  }
}

.social-list--footer .social-list__item:hover {
  background-color: var(--yellow-dark);
}

.social-list__link svg:hover {
  opacity: 0.6;
}

.social-list--footer .social-list__link:active {
  opacity: 0.3;
}

.social-list--footer .social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
