.tariffs {
  position: relative;

  padding-top: 51px;
  padding-bottom: 39px;

  font-size: 16px;
  line-height: 14px;

  background-color: var(--white-dark);
  border-radius: 0 0 30px 30px;
}

@media (min-width: $tablet-width) {
  .tariffs {
    padding-top: 71px;
    padding-bottom: 85px;

    font-size: 28px;
    line-height: 28px;

    border-radius: 0 0 60px 60px;
  }
}

@media (min-width: $desktop-width) {
  .tariffs {
    padding-top: 103px;
    padding-bottom: 189px;
  }
}

.tariffs::before {
  content: "";
  position: absolute;
  top: 37px;
  right: 25px;

  display: block;
  width: 100px;
  height: 100px;

  background-image: url("../../img/img-decor/background/tarrifs.png");
  background-size: cover;
}

@media (min-width: $tablet-width) {
  .tariffs::before {
    top: 411px;
    right: 85px;
    z-index: 2;
  }
}

@media (min-width: $desktop-width) {
  .tariffs::before {
    top: 287px;
    right: 133px;

    width: 198px;
    height: 198px;
  }
}

.tariffs__inner {
  padding-left: 25px;
}

@media (min-width: $tablet-width) {
  .tariffs__inner {
    padding-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .tariffs__inner {
    padding-left: 71px;
  }
}

.tariffs__title {
  padding-right: 125px;
}

@media (min-width: $tablet-width) {
  .tariffs__title {
    padding-right: 0;
    padding-left: 103px;
  }
}

@media (min-width: $desktop-width) {
  .tariffs__title {
    padding-left: 352px;
  }
}

.tariffs__list {
  margin: 0;
  margin-left: -1px;
  padding: 0;
}

.tariffs__list--standard {
  margin-top: 44px;
}

@media (min-width: $tablet-width) {
  .tariffs__list--standard {
    margin-top: 76px;
  }
}

@media (min-width: $desktop-width) {
  .tariffs__list--standard {
    margin-top: 135px;
    margin-right: 312px;
  }
}

.tariffs__tariff-wrapper {
  position: relative;
  z-index: 1;

  padding-top: 13px;
  padding-bottom: 18px;

  border-bottom: 1px solid var(--grey-two-light);
}

@media (min-width: $tablet-width) {
  .tariffs__tariff-wrapper {
    display: flex;
    justify-content: space-between;
    margin-right: 35px;
    margin-left: 91px;
    padding-top: 18px;
    padding-bottom: 12px;
    padding-left: 0;
  }
}

.tariffs__tariff-wrapper:first-child {
  border-top: 1px solid var(--grey-two-light);
}

.tariffs__list--standard .tariffs__tariff-wrapper::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 1px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;

  font-weight: 400;
  color: var(--white);

  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .tariffs__list--standard .tariffs__tariff-wrapper::before {
    top: 0;
    left: -89px;

    width: 68px;
    height: 68px;
  }
}

.tariffs__list--standard .tariffs__tariff-wrapper:first-child::before {
  content: "1";

  background-color: var(--orange-dark);
}

.tariffs__list--standard .tariffs__tariff-wrapper:nth-child(2)::before {
  content: "2";

  background-color: var(--yellow-dark);
}

.tariffs__list--standard .tariffs__tariff-wrapper:nth-child(3)::before {
  content: "3";

  background-color: var(--yellow);
}

.tariffs__name {
  margin-bottom: 7px;
}

.tariffs__value {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .tariffs__list--standard .tariffs__tariff-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    right: -35px;
    z-index: -1;

    display: block;
    width: 198px;
    height: 66px;

    background-color: var(--grey-three-light);
  }
}

@media (min-width: $desktop-width) {
  .tariffs__list--standard .tariffs__tariff-wrapper::after {
    right: -161px;

    width: 446px;
  }
}

@media (min-width: $tablet-width) {
  .tariffs__list--standard .tariffs__tariff-wrapper:first-of-type::after {
    top: -40px;

    height: 107px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

@media (min-width: $desktop-width) {
  .tariffs__list--standard .tariffs__tariff-wrapper:first-of-type::after {
    top: -48px;

    height: 120px;
  }
}

@media (min-width: $tablet-width) {
  .tariffs__list--standard .tariffs__tariff-wrapper:last-of-type::after {
    height: 113px;

    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

@media (min-width: $desktop-width) {
  .tariffs__list--standard .tariffs__tariff-wrapper:last-of-type::after {
    height: 120px;
  }
}

.tariffs__button {
  position: relative;

  display: block;
  margin-top: 27px;

  font-weight: 700;
  line-height: 16px;
  color: var(--blue-two-light);
}

@media (min-width: $tablet-width) {
  .tariffs__button {
    margin-top: 44px;
    padding-top: 15px;
    padding-left: 89px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .tariffs__button {
    margin-top: 45px;
    padding-left: 91px;
  }
}

.tariffs__button:hover {
  opacity: 0.7;
}

.tariffs__button:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .tariffs__button::before {
    content: "";
    position: absolute;
    top: -9px;
    left: 0;

    display: block;
    width: 68px;
    height: 68px;

    background-color: var(--grey-three-light);
    background-image: url("../../img/img-decor/otherwise/icon-busines.svg");
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 19px;
    border-radius: 50%;
  }
}

@media (min-width: $desktop-width) {
  .tariffs__button::before {
    left: 2px;
  }
}

.tariffs__business {
  position: absolute;
  top: -11px;
  left: 25px;
  z-index: 2;

  display: none;

  line-height: 22px;

  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(29, 46, 91, 0.14);
}

@media (min-width: $tablet-width) {
  .tariffs__business {
    top: 0;
    left: 40px;

    width: 688px;

    box-shadow: 0 4px 22px rgba(29, 46, 91, 0.18);
  }
}

@media (min-width: $desktop-width) {
  .tariffs__business {
    top: 99px;
    left: 363px;

    width: 750px;

    border-radius: 30px;
  }
}

// класc добавляется при клике на tariffs__button
.tariffs__business--shown {
  display: block;
}

.tariffs__business-body {
  padding: 34px 25px;
  padding-top: 32px;
  padding-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .tariffs__business-body {
    padding-right: 90px;
    padding-left: 90px;
  }
}

@media (min-width: $desktop-width) {
  .tariffs__business-body {
    padding-right: 58px;
    padding-left: 59px;
  }
}

.tariffs__button-close {
  width: 100%;
  padding: 21px 80px;
  padding-bottom: 16px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  font-family: "Blogger-Sans", "Arial", sans-serif;
  color: var(--blue-light);
  text-transform: uppercase;

  background-color: var(--white-two);
  border: none;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .tariffs__button-close {
    margin-top: 21px;
    padding-top: 39px;
    padding-bottom: 45px;
    padding-left: 77px;

    font-size: 24px;
    text-transform: unset;
  }
}

@media (min-width: $desktop-width) {
  .tariffs__button-close {
    margin-top: 25px;

    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }
}

.tariffs__business-title {
  margin-left: 26px;
}

@media (min-width: $tablet-width) {
  .tariffs__business-title {
    margin-top: 17px;
    margin-left: 98px;
  }
}

@media (min-width: $desktop-width) {
  .tariffs__business-title {
    margin-left: 160px;
  }
}

.tariffs__list--business {
  margin-top: 0;
}

@media (min-width: $tablet-width) {
  .tariffs__list--business {
    margin-top: 52px;
  }
}

@media (min-width: $desktop-width) {
  .tariffs__list--business {
    margin-top: 49px;
  }
}

.tariffs__list--business .tariffs__tariff-wrapper {
  padding-top: 10px;
  padding-bottom: 12px;
}

@media (min-width: $tablet-width) {
  .tariffs__list--business .tariffs__tariff-wrapper {
    margin: 0;
    margin-right: 3px;
    padding-top: 12px;
    padding-bottom: 14px;

    font-size: 22px;
    line-height: 28px;
  }
}
