:root {
  --black: #000000;
  --blue: #161c35;
  --blue-dark: #192144;
  --blue-light: #1d2e5b;
  --blue-light-20: rgba(29, 46, 91, 0.2);
  --blue-two-dark: #121936;
  --blue-two-light: #132576;
  --green: #81e31e;
  --grey: #cccccc;
  --grey-dark: #444444;
  --grey-light: #e6e8f1;
  --grey-two-light: #e1e3e9;
  --grey-three-light: #e2e5f2;
  --orange: #ffa530;
  --orange-dark: #ff8d30;
  --red-light: #f97676;
  --tomato: #ff5c23;
  --white: #ffffff;
  --white-dark: #edeff6;
  --white-two: #f3f4f8;
  --yellow: #ffd74b;
  --yellow-dark: #ffbd30;
}
